svg {
    padding: 0px;
    margin: 0px;
    display:inline-block;
}

html {
    background-color: dimgrey;
    color: whitesmoke;
}

.map-grid {
    fill: none;
    stroke: grey;
    stroke-width: 1px;
    opacity: .4;
}

.chart-hover {
    fill: white;
    stroke: white;
    stroke-width: 1px;
    opacity: 1;
}

.chart-unhovered {
    opacity: .1;
}

.planet-point {
    stroke: whitesmoke;
    stroke-width: 1px;
}

.planet-habitable {
    fill: green;
    opacity: 1;
}

.planet-unknown {

}