svg {
    padding: 0px;
    margin: 0px;
    display:inline-block;
}

html {
    background-color: dimgrey;
    color: whitesmoke;
}

.map-grid {
    fill: none;
    stroke: grey;
    stroke-width: 1px;
    opacity: 0.4;
}

.chart-hover {
    fill: white;
    stroke: white;
    stroke-width: 1px;
    opacity: 1;
}

.planet-point {
    /*stroke: rgba(10, 10, 10, .2);
    stroke-width: .5px;
    /*fill: #AC6C82;*/
    opacity: 0.85;

}

.planet-habitable {
    fill: green;
    opacity: 1;
}

.planet-unknown {

}

.selected {
    fill: #FFAA5C ;
    opacity: 1;
    stroke: #FFFFCC;
    stroke-width: 1.5px;
}